## Pandas
#### pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

In [1]:
# series
import numpy as np
import pandas as pd
myarray = np.array([15, 25, 35])
rownames = ['red', 'blue', 'green']
myseries = pd.Series(myarray, index=rownames)
print(myseries)

red      15
blue     25
green    35
dtype: int64

In [2]:
print(myseries[0])
print(myseries['blue'])

15
25

In [3]:
# dataframe
myarray = np.array([[1, 2, 3], [4, 5, 6]])
rownames = ['y', 'z']
colnames = ['delhi', 'chennai', 'kolkata']
mydataframe = pd.DataFrame(myarray, index=rownames, columns=colnames)
print(mydataframe)

   delhi  chennai  kolkata
y      1        2        3
z      4        5        6

In [4]:
print("method 1:")
print("one column:\n",mydataframe['delhi'])
print("method 2:")
print("one column:\n",mydataframe.delhi)

method 1:
one column:
 y    1
z    4
Name: delhi, dtype: int64
method 2:
one column:
 y    1
z    4
Name: delhi, dtype: int64