# Python fundamentals for beginners

### Literals in Python
#### As python is an interpreted language, data types are not defined in it and values can be assigned to variables as follows :

In [ ]:
# Strings
string = 'hello python'
print(string)
print(string[0]) 
print(len(string))

In [11]:
# Numbers
number = 123.1
print(number)
number = 10
print(number)
number = -1
print(number)

123.1
10
-1

In [12]:
# Boolean
true = True
false = False
print(true, false)

True False

In [5]:
# Multiple Assignment
a, b, c = 1, 'string', True
print(a, b, c)

1 string True

In [14]:
# No value
a = None
print(a)

None

### Operators in python
#### python has  Arithmetic operators, Assignment operators ,Comparison operators, Logical operators
#### Identity operators, Membership operators, Bitwise operators

In [6]:
#Arithmetic Opertors
x = 10
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(y%x)

30
-10
200
0.5
0

### If and else

In [16]:
condition = 50
if condition < 35:
    print('FAILED') 
else:
    print('PASSED')

PASSED

### Loops

In [17]:
# For-Loop : first n square number
for i in range(10):
  print(i*i)

0
1
4
9
16
25
36
49
64
81

In [19]:
# While-Loop : first n cube number
i=0
while i < 10:
  print(i*i*i)
  i+=1

0
1
8
27
64
125
216
343
512
729

### DATASTRUCTURE
#### Tuple, List, Dictionary

In [20]:
#Tuple : read only collection
tuple = (1,'a','string',true)
print(tuple)

(1, 'a', 'string', True)

In [24]:
#List : 
list = [2,'q','word',True]
print("first element is ",list[0])

first element is  2

In [25]:
for value in list:
  print(value)

2
q
word
True

In [26]:
#Dictionary
dict = {'a':1,'b':'hello','c':true}
for key in dict.keys():
  print(dict[key])

1
hello
True

In [27]:
print("Keys: ",dict.keys()) 
print("Values: ",dict.values())

Keys:  dict_keys(['a', 'b', 'c'])
Values:  dict_values([1, 'hello', True])

In [44]:
print(myseries[0])
print(myseries['blue'])

15
25

In [2]:
# dataframe
import numpy
import pandas
myarray = numpy.array([[1, 2, 3], [4, 5, 6]])
rownames = ['y', 'z']
colnames = ['delhi', 'chennai', 'kolkata']
mydataframe = pandas.DataFrame(myarray, index=rownames, columns=colnames)
print(mydataframe)

   delhi  chennai  kolkata
y      1        2        3
z      4        5        6

In [4]:
print("method 1:")
print("one column:\n",mydataframe['delhi'])
print("method 2:")
print("one column:\n",mydataframe.delhi)

method 1:
one column:
 y    1
z    4
Name: delhi, dtype: int64
method 2:
one column:
 y    1
z    4
Name: delhi, dtype: int64