# Python fundamentals for beginners

###### Basic python operations for absolute beginners.

### Literals in Python
#### As python is an interpreted language, data types are not defined in it and values can be assigned to variables as follows :

In [ ]:
# Strings
string = 'hello python'
print(string)
print(string[0]) 
print(len(string))

In [11]:
# Numbers
number = 123.1
print(number)
number = 10
print(number)
number = -1
print(number)

123.1
10
-1

In [12]:
# Boolean
true = True
false = False
print(true, false)

True False

In [5]:
# Multiple Assignment
a, b, c = 1, 'string', True
print(a, b, c)

1 string True

In [14]:
# No value
a = None
print(a)

None

## Comments
##### Supports single line and mult-line comments.

In [2]:
#Single line comments

"""
    Multi
    line
    comments
"""

'\n    Multi\n    line\n    comments\n'

### Operators in python
#### python has  Arithmetic operators, Assignment operators ,Comparison operators, Logical operators
#### Identity operators, Membership operators, Bitwise operators

In [6]:
#Arithmetic Opertors
x = 10
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(y%x)

30
-10
200
0.5
0

In [3]:
#Assignment Operators
#X=5
x=5
print(x)
# x+=y same as x = x+y
x+=3
print(x)
#Similarly for -=, *= , /= etc

5
8

In [4]:
#Comparison Operators
# == , != , < , > , <= ,>= are available
x=5;
print(x==5)
print(x!=6)
print(x<3)

True
True
False

In [5]:
#Logical Operators
# and , or , not
x=10
print(x>5 and x<15)
print(x ==5 or x!= 9)

True
True

### If and else

In [16]:
condition = 50
if condition < 35:
    print('FAILED') 
else:
    print('PASSED')

PASSED

### Loops

In [17]:
# For-Loop : first n square number
for i in range(10):
  print(i*i)

0
1
4
9
16
25
36
49
64
81

In [19]:
# While-Loop : first n cube number
i=0
while i < 10:
  print(i*i*i)
  i+=1

0
1
8
27
64
125
216
343
512
729

### DATASTRUCTURE
#####  Tuple, List, Dictionary

#### Tuple
##### Tuples are used to store multiple items in a single variable.A tuple is a collection which is ordered and unchangeable.Tuples are written with round brackets.

In [20]:
#Tuple : read only collection
tuple = (1,'a','string',true)
print(tuple)

(1, 'a', 'string', True)

In [24]:
# tuple are immutable object, once you create you cannot edit the existing values
x = ("apple", "banana", "cherry")
print(x)

('apple', 'banana', 'cherry')

### Lists 
##### Lists are used to store multiple items in a single variable. Lists are created using square brackets:

In [12]:
#List : 
foo = [2,'q','word',True]
print("first element is ",list[0])

first element is  2

In [13]:
for value in foo:
  print(value)

2
q
word
True

In [14]:
#Length of list
print(len(foo))

4

In [21]:
#Creating list of numbers
newList = [10,90,-29,56,123,45,26,83,144,0,2,8,12,890,34]
print(newList)
#Sorting list
newList.sort()
print(newList)
#Sorting in descending order
newList.sort(reverse = True)
print(newList)

[10, 90, -29, 56, 123, 45, 26, 83, 144, 0, 2, 8, 12, 890, 34]
[-29, 0, 2, 8, 10, 12, 26, 34, 45, 56, 83, 90, 123, 144, 890]
[890, 144, 123, 90, 83, 56, 45, 34, 26, 12, 10, 8, 2, 0, -29]

### Dictionary
##### Dictionaries are used to store data values in key:value pairs.A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Dictionaries are written with curly brackets, and have keys and values:

In [27]:
#Dictionary
dict = {'a':1,'b':'hello','c':True}
for key in dict.keys():
  print(dict[key])

1
hello
True

In [31]:
#getting keys and values
print("Keys: ",dict.keys()) 
print("Values: ",dict.values())

Keys:  dict_keys(['a', 'b', 'c'])
Values:  dict_values([1, 'hello', True])

In [32]:
#Access items
print(dict.get('a'))

1

In [33]:
#Adding items
dict['z'] = "zebra"
print(dict)

{'a': 1, 'b': 'hello', 'c': True, 'z': 'zebra'}

In [34]:
#Removing items
dict.pop('c')
print(dict)

{'a': 1, 'b': 'hello', 'z': 'zebra'}

### Functions
##### A function is a block of code which only runs when it is called.Can pass data, known as parameters, into a function.A function can return data as a result.

In [36]:
def my_function():
  print("This is a function.")
#function call
my_function()

This is a function.

In [37]:
#Function with arguments
def square_function(x):
  print("Square value is :",x*x)
square_function(10)

Square value is : 100

In [ ]:
#Function with return type
def square_function(x):
  return x*x
printsquare_function(10)